*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@import url('http://fonts.cdnfonts.com/css/hanken');
@import url('http://fonts.cdnfonts.com/css/alire');

body {
    margin: 0;
    /*font-family: 'Alire', sans-serif;*/
    font-family: 'Hanken', sans-serif;
    background-color: #fcefe5;
}

.navbar {
    /*background-color: #fcefe5;*/
    background-color: rgb(252, 239, 229, 0.95);
    position: fixed;
    top: 0;
    width: 100%;
    height: 7em;
}

.topnav {
    background-color: #c49b99;
    box-shadow: 0px 10px 5px rgb(128, 128, 128, 0.6);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 0.2em;
}

.navframe {
    position: fixed;
    width: 100%;
    height: 4.6em;
    border-top: 4px dotted white;
    border-bottom: 4px dotted white;
    padding-left: 20%;
    padding-right: 20%;
}

.navframe a {
    /*font-family: 'Alire', sans-serif;*/
    color: #fcefe5;
    text-align: center;
    /*display: inline-block;*/
    text-decoration: none;
    margin-top: 23px;
}

.topnav a:hover {
    color: #fff;
}

/* Menu icon */

.icon_container {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding: 15px 10px;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fcefe5;
    ;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu_icon {
    display: none;
}

.navleft {
    float: left;
    margin-left: 3em;
    margin-right: 3em;
}

.navcenter {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 10em;
    border-radius: 50%;
    margin-top: -2em;
}

.logo:hover {
    height: 10.5em;
}

.navright {
    float: right;
    margin-left: 3em;
    margin-right: 3em;
}

.mobilenav {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 13.5%;
    background-color: rgb(196, 155, 153, 0.9);
    overflow-y: hidden;
    transition: 0.4s;
    display: grid;
    justify-content: left;
    align-content: center;
    gap: 20px;
    z-index: -2;
    padding-left: 5%;
    padding-bottom: 0.5em;
}

.mobilenav a {
    color: white;
    display: inherit;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 12em;
    margin-bottom: 4em;
    background-color: #fff;
    height: 100em;
    color: black;
    text-align: center; 
    padding-top: 3em;
}

.headings {
    font-size: 25px;
}

.main_img {
    width: 50%;
}

.info-box {
    width: 75%;
    height: 15%;
    display: inline-block;
    background-color: rgb(252, 239, 229);
    border: 1px solid black;
    margin-top: -5em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 1200px) {
    .navframe {
        padding-left: 0;
        padding-right: 10%;
    }

    .navleft,
    .navright {
        display: none;
    }

    .icon_container {
        display: block;
        float: right;
        font-size: 30px;
    }

    .mobilenav {
        display: grid;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .headings {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .main_img {
        width: 100%;
    }
}
