*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@import url('http://fonts.cdnfonts.com/css/hanken');
@import url('http://fonts.cdnfonts.com/css/alire');

body {
    margin: 0;
    /*font-family: 'Alire', sans-serif;*/
    font-family: 'Hanken', sans-serif;
    background-color: #fcefe5;
}

.navbar {
    background-color: #fcefe5;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10em;
}

.topnav {
    background-color: #c49b99;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 0.2em;
}

.navframe a {
    /*font-family: 'Alire', sans-serif;*/
    color: #fcefe5;
    text-align: center;
    /*display: inline-block;*/
    text-decoration: none;
    margin-top: 23px;
}

.topnav a:hover {
    color: #fff;
}

.navframe {
    position: fixed;
    width: 100%;
    height: 4.6em;
    border-top: 4px dotted white;
    border-bottom: 4px dotted white;
    padding-left: 20%;
    padding-right: 20%;
}

/* Menu icon */

.icon_container {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding: 15px 10px;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fcefe5;;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu_icon {
    display: none;
}

.navleft {
    float: left;
    margin-left: 3em;
    margin-right: 3em;
}

.navcenter {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 10em;
    border-radius: 50%;
    margin-top: -2em;
}

.logo:hover {
    height: 10.5em;
}

.navright {
    float: right;
    margin-left: 3em;
    margin-right: 3em;
}

.mobilenav {
    height: 0%;
    width: 88%;
    position: fixed;
    top: 23%;
    left: 6%;
    background-color: #c49b99;
    overflow-y: hidden;
    transition: 0.4s;
    border-radius: 10%;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.mobilenav a {
    color: white;
    display: inherit;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 12em;
    background-color: #fff;
    height: 100em;
    color: black;
    text-align: center;
    padding-top: 3em;
}

<<<<<<< Updated upstream
=======
.headings {
    font-size: 25px;
}

.main_img {
    width: 50%;
}

.info-box {
    width: 75%;
    height: 15%;
    display: inline-block;
    background-color: rgb(252, 239, 229);
    border: 1px solid black;
    margin-top: -5em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/* ------- Footer section -------- */

.some_image {
    width: 50px;
    margin-right: 16px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}


.footer-distributed {
    background-color: rgb(196, 155, 153, 0.9);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    font-family: 'Hanken', sans-serif;
    padding: 50px 50px 30px 50px;
    margin-top: 20px;
    border-top: 1px solid grey;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 33%;
}


/* The company logo */

.footer-distributed .footer-left img {
    width: 55%;
    margin: 0 auto;
    margin-top: -30px;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center p {
    display: inline-block;
    position: absolute;
    color: black;
    vertical-align: middle;
}

.p1 {
    margin-top: 20px;
}

.p2 {
    margin-top: 20px;
}

.p3 {
    margin-top: 20px;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: black;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}


@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .footer-center, {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

}


>>>>>>> Stashed changes
@media screen and (max-width: 1200px) {
    .navframe {
        padding-left: 0;
        padding-right: 10%;
    }

    .navleft,
    .navright {
        display: none;
    }

    .icon_container {
        display: block;
        float: right;
        font-size: 30px;
    }

    .mobilenav {
        display: grid;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
    }
}
